/* Variables ----- */

//Font stacks
$primary-font: 'Open Sans', sans-serif;
$second-font: 'Montserrat', helvetica, arial;

//Colors
$light-blue:#63a7d5;
$gradient-light-blue:#8ebfe1;
$blue:#02235d;
$gradient-blue:#445d88;
$dark-blue:#011e58;
$grey:#535353;
$sf-grey:#56544f;
$border-grey:#dadada;
$red:#bc4343;
$gradient-red:#d07b7b;

